@import "tailwindcss";

@theme {
    --color-bubbles: #e6f7ff;
    --color-champagne: #f7e7ce;
    --color-electric-blue: #005b99;
    --color-lav-blush: #fff3f3;
    --color-steel-blue-light: #4682b4;
    --color-oxford-blue: #001f49;
    --color-slate-800: #384959; /*navbar*/
    --color-slate-500: #6A89A7;
    --color-sky-200: #BDDDFC;
    --color-amber-500: #F59E0B;
    /* --color-neutral-light-gray: #f8fAfC; bg */

    --font-custom-serif: 'Times New Roman', Times, serif;

    --text-10pt: 8pt;
    --text-10pt: 10pt;
    --text-11pt: 11pt;
    --text-12pt: 12pt;
    --text-14pt: 14pt;
    --text-16pt: 16pt;
    --text-18pt: 18pt;
    --text-10pt: 20pt;
    --text-11pt: 24pt;
    --text-12pt: 28pt;
    --text-14pt: 32pt;
    --text-16pt: 40pt;
    --text-18pt: 48pt;
}

.font-times {
    font-family: var(--font-custom-serif);
}

